click==8.0.4
Cython==0.29.32
datasets==2.4.0
deprecation==2.1.0
dill==0.3.4
lxml==4.9.1
multiprocessing_on_dill==3.5.0a4
networkx==2.6.3
numpy==1.23.1
openprompt==1.0.0
Owlready2==0.38
pandas==1.3.4
pipreqs==0.4.11
scikit_learn==1.1.2
spacy==3.2.0
textdistance==4.2.2
torch==1.10.0
transformers==4.12.3
validators==0.20.0
