click==7.1.2
datasets==2.1.0
dill==0.3.4
lxml==4.6.3
multiprocessing_on_dill==3.5.0a4
networkx==2.5
numpy==1.20.1
owlready2==0.37
pandas==1.2.4
pyats==22.4
scikit_learn==1.0.2
spacy==3.3.0
textdistance==4.2.1
torch==1.11.0
transformers==4.18.0
