JPype1==1.3.0
mowl-borg==0.1.0
yacs
torch
anytree==2.8.0
click
dill
pandas
numpy
scikit_learn
openprompt==1.0.0
transformers
datasets
spacy
pprintpp
networkx
lxml
textdistance
ipywidgets==7.7.1
ipykernel
enlighten
